<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/fontawesome.min.css"/>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<div class="container-fluid">
    <div class="card row">
        <div class="card-header text-center bg-primary  text-white"><h2>Welcome to Employee Management</h2></div>
        <div class="card-body">
            <button class="btn btn-primary" onclick="window.location.href='/api/v1/emp/register'">Add</button> <br><br>
            <table class="table table-bordered table-stripped table-hover">
                <tr class="table-header table-warning">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Department</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Join Date</th>
                    <th>HRA</th>
                    <th>TA</th>
                    <th>Operations</th>
                </tr>
                <tr th:each="ob : ${emps}">
                    <td><span th:text="${ob.id}"></span></td>
                    <td><span th:text="${ob.name}"></span></td>
                    <td><span th:text="${ob.salary}"></span></td>
                    <td><span th:text="${ob.dept}"></span></td>
                    <td><span th:text="${ob.gender}"></span></td>
                    <td><span th:text="${ob.address}"></span></td>
                    <td><span th:text="${ob.doj}"></span></td>
                    <td><span th:text="${ob.hra}"></span></td>
                    <td><span th:text="${ob.ta}"></span></td>
                    <td>
                        <a th:href="@{/emp/update/page(id=${ob.getId()})}" class="btn"> <i class="fas fa-edit text-warning"></i></a> |
                        <a th:href="@{/emp/delete(id=${ob.id})}" class="btn"><i class="far fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
            </table>
            <br>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:if="${!page.isFirst()}" th:href="@{/emp/(page=0)}">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:if="${page.hasPrevious()}" th:href="@{/emp/(page=${page.getNumber()-1})}" tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(0, page.getTotalPages()-1)}">
                        <li th:if="${page.getNumber() == i}" class="page-item active">
                            <a class="page-link" th:href="@{/emp/(page=${i})}">[[${i+1}]]</a>
<!--                            <a th:if="${page.getNumber() != i}" class="page-link" th:href="@{/emp/(page=${i})}">[[${i+1}]]</a>-->
                        </li>
                        <li th:if="${page.getNumber() != i}" class="page-item">
                            <a class="page-link disabled" th:href="@{/emp/(page=${i})}">[[${i+1}]]</a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" th:if="${page.hasNext()}" th:href="@{/emp/(page=${page.getNumber()+1})}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:if="${!page.isLast()}" th:href="@{/emp/(page=${page.getTotalPages()-1})}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div th:if="${status}" class="card-footer text-center text-muted"><b><span th:text="${status}"></span></b></div>
    </div>
</div>
</body>
</html>
